{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'homepage.js') }}"></script>


<header class="text-center">
  <div class="container">
    <img src="{{ url_for('static', filename='images/wine_pouring_vessel.jpeg') }}" alt="A wine pouring vessel" class="banner">
    <div class="d-flex justify-content-center align-items-center mb-4 gap-4 flex-wrap title-box">
      <div class="text-end">
        <img src="{{ url_for('static', filename='assests/icons/logo.svg') }}" alt="project logo" class="logo-image" style="max-height: 80px;">
      </div>
      <div class="text-start">
        <h1 class="title fw-bold mb-1">Bronze Clocks</h1>
        <p class="subtitle fw-semibold mb-0">Reading Time through Bronzeware</p>
      </div>
    </div>

    <div class="main-text text-justify mx-auto" style="max-width: 700px;">
      <p>
        Welcome! This interactive module will guide you through identifying key features
        of Chinese bronzeware—color, motif, and shape—to help determine its historical
         period or dynasty.
      </p>
      <p>
        You'll explore the distinctive colors and styles of bronzeware from the Shang, 
        Western Zhou, Eastern Zhou, and Qin & Han dynasties. Enjoy a gamified quiz 
        experience and get a sneak peek at some of the most iconic pieces in history!
      </p>
    </div>

    <div class="mt-5">
      <a href="/learn" class="btn btn-primary px-5 me-5">Start Learning!</a>
      <a href="/quiz" class="btn btn-light">Take the Quiz</a>
    </div>
  </div>
</header>


  



    

{% endblock %}