{% extends "layout.html" %}

{% block content %}

<div class="row container">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <br><h2 class="title">Phase 1: Casting</h2> <br>
        <div class="main-text">
            Bronzeware is made from copper, tin, and lead, each contributing to its color. <br><br>

            <div class="container">
                <strong class="subtitle">Copper (Cu)</strong> gives bronze its golden-brown hue. <br>
            </div>

            <div class="container">
                <strong class="subtitle">Tin (Sn)</strong> adds a silvery metallic tone, brightening the overall color. <br>
            </div>

            <div class="container">
                <strong class="subtitle">Lead (Pb)</strong> can introduce a duller, grayish tint, while also aiding in the casting process. <br>
            </div>
            
            <br><br>Click to find the correct composition ratio for each dynasty! <br><br>

            <div class="text-center">
                <a href="/learn/color/decoration" class="btn btn-primary">  Forge  </a>
            </div>
        </div>
    </div>
    <div class="col-md-5 mt-5">
        {% include "triangle.html" %}
    </div>
    <div class="col-md-1"></div>

 </div>


{% endblock %}