{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/learn_motif.js') }}"></script>

<div class="container">
    <br><h2 class="title">Motif</h2> <br><br>

    <div class="main-text">
        The motifs and styles of ancient Chinese bronzeware reveal a rich visual language shaped by ritual beliefs, regional aesthetics, 
        and evolving craftsmanship.From fierce taotie masks to human shapes, each design carried symbolic meanings and reflected the values of its time. <br><br>

        Throughout Chinese history, bronzeware thrived during 4 major time periods. Choose one time period to start!<br><br>
    </div>

    {% include "timeline.html" %}

    <div class="container text-center mt-5">
        <a href="/learn" class="btn btn-light mx-5">Back to Learn</a>
        <a href="/learn/motif/1" class="btn btn-primary mx-5">Start</a>
    </div>

    <br><br><br><br><br><br><br><br>

      
 </div>



{% endblock %}