{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/learn_shape.js') }}"></script>

<div class="container" style="max-width: 700px;">
    <br><h2 class="title">Shape</h2> <br><br>
    <div class="main-text">
        The evolution of shapes in Chinese bronze artifacts reflects broader societal changes—from ritualistic vessels emphasizing spiritual connections 
        in the Shang dynasty to human-shaped figures symbolizing immortality during the Han dynasty. These shapes not only showcase technological advancements 
        but also provide insights into the values and beliefs of ancient Chinese civilization. <br><br>

        Throughout Chinese history, bronzeware thrived during 4 major time periods. Choose one time period to start! 
    </div>

    <div class="container text-center mt-5">
        <a href="/learn/shape/1" class="btn btn-primary mx-5">Start</a>
        <a href="/learn" class="btn btn-light mx-5">Back to Learn</a>
    </div>
</div>

    {% include "timeline.html" %}


{% endblock %}