{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/learn_motif_pages.js') }}"></script>
<script>
    let info = {{info|tojson}}
    let currentPage = {{ page_num|int }};
</script>

<div class="container">

    {% include "timeline_simple.html" %}

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h2 class="title">
                    Here <span id="motif-number">are ## classic motif styles</span> from the <span id="motif-period">XXX Dynasty</span>. <br>
                    Click to discover them!
                </h2>
            </div>
        </div>
        <div class="row">
            <div id="navButtonPrevious" class="col-md-1"></div>

            <div class="col-md-5">
                <div class="mt-3" id="motif-content"></div>
            </div>
            
            <div class="col-md-5">
                <div style="display: flex;">
                    <img class="click-icon" src="{{ url_for('static', filename = 'assests/icons/click_accent.png') }}" alt="click icon">
                    <p class="hint-text">Click to find the correct composition ratio for each dynasty!</p>
                </div>
                <div class="motif-image-container position-relative">
                    <img class="motif-image mx-auto d-block" id="motif-image">
                    <div class="motif-overlay" id="motifOverlay">
                        <div class="overlay-content" id="overlayText">
                            <button id="closeOverlay" class="close-btn">&times;</button>
                            <div id="overlayAnswerText"></div>
                        </div>
                    </div>
                </div>

                <div id="final-page" class="container"></div>
            </div>
            <div id="navButtonNext" class="col-md-1"></div>
        </div>
    </div>

    <div>
        <a href="/learn/motif" class="btn btn-light">Return to Motif Overview</a>
    </div>

</div>



{% endblock %}