{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/learn_motif_pages.js') }}"></script>
<script>
    let info = {{info|tojson}}
    let currentPage = {{ page_num|int }};
</script>

<div class="container">

    {% include "timeline.html" %}

    <div class="container">
        <div class="row">
            <div id="navButtonPrevious" class="col-md-1"></div>
            <div class="col-md-10">
                <div class="text-center mt-5">
                    <h2>
                        Here <span id="motif-number">are ## classic motif styles</span> from the <span id="motif-period">XXX Dynasty</span>. <br>
                        Click to discover them!
                    </h2>
                </div>
        
                <div class="text-center mt-5" id="motif-content"></div>
        
                <div class="motif-image-container position-relative">
                    <img class="motif-image mx-auto d-block" id="motif-image">
                  
                    <!-- transparent grid -->
                    <div class="hotspot" style="left: 26rem;top: 23rem; " data-answer="This is the Taotie motif."></div>
                </div>
                  
                <div class="motif-overlay" id="motifOverlay">
                    <!-- overlay  -->
                    <div class="overlay-content" id="overlayText"></div>
                </div>

                <div id="final-page" class="container"></div>
            </div>
            <div id="navButtonNext" class="col-md-1"></div>
        </div>
    </div>

    <div>
        <a href="/learn/motif" class="btn btn-light">Return to Motif Overview</a>
    </div>

 </div>



{% endblock %}