{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/learn_motif.js') }}"></script>


<div class="container" style="max-width: 700px;">
    <br><h2 class="title">Motif</h2> <br><br>
    <div class="main-text">
        The motifs of ancient Chinese bronzeware reveal a rich visual language shaped by ritual beliefs, regional aesthetics, 
        and evolving craftsmanship. In this module, you'll learn about iconic motifs by spotting and clicking on real artifact photos. <br><br>

        Throughout Chinese history, bronzeware thrived during 4 major time periods. Choose one time period to start.
    </div>

    <div class="container text-center mt-5">
        <a href="/learn/motif/1" class="btn btn-primary mx-5">Start from Beginning</a>
        <a href="/learn" class="btn btn-light mx-5">Back to Learn</a>
    </div>
</div>

    {% include "timeline.html" %}





{% endblock %}