{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/learn_motif_pages.js') }}"></script>
<script>
    let info = {{info|tojson}}
    let currentPage = {{ page_num|int }};
</script>

<div class="container">

    {% include "timeline.html" %}

    <div class="text-center mt-5">
        <h2>
            Here <span id="motif-number">are ## classic motif styles</span> from the <span id="motif-period">XXX Dynasty</span>. <br>
            Click to discover them!
        </h2>
    </div>

    <div class="text-center mt-5" id="motif-content"></div>

    <div class="text-center mt-5" id="motif-image"></div>
 </div>



{% endblock %}