{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/learn_shape_pages.js') }}"></script>
<script>
    let info = {{info|tojson}}
    let currentPage = {{ page_num|int }};
</script>
  

<div class="container">


    {% include "timeline.html" %}

    <div class="container">
        <div class="row">
            <div id="navButtonPrevious" class="col-md-1"></div>

            <div class="col-md-6">
                <h2 id="shape-title">Title here</h2>
                <h3 id="shape-subtitle">Subtitle here</h3>
                <span id="shape-content">
                    Text here
                </span>
                <br><br>

                <div id="final-page" class="container"></div>
            </div>

            <div class="col-md-4">
                <img id="shape-image" alt="image here">
            </div>

            <div id="navButtonNext" class="col-md-1"></div>

        </div>

        <div>
            <a href="/learn/shape" class="btn btn-light">Return to Shape Overview</a>
        </div>
    </div>
      
 </div>



{% endblock %}