{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/learn_shape.js') }}"></script>


<div class="container">
    <br><h2>Shape</h2> <br><br>

    <div>
        The evolution of shapes in Chinese bronze artifacts reflects broader societal changes—from ritualistic vessels emphasizing spiritual connections 
        in the Shang dynasty to human-shaped figures symbolizing immortality during the Han dynasty. These shapes not only showcase technological advancements 
        but also provide insights into the values and beliefs of ancient Chinese civilization. <br><br>

        Throughout Chinese history, bronzeware thrived during 4 major time periods. Choose one time period to start! <br><br>
    </div>

    {% include "timeline.html" %}
    
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a href="/learn" class="btn btn-light">Back to Learn</a>
            </div>
            <div class="col-md-3">
                <a href="/learn/shape/1" class="btn btn-primary">Start</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <br><br><br><br><br><br><br><br>

      
 </div>



{% endblock %}