{% extends "layout.html" %}

{% block content %}

<div class="container" style="max-width: 700px;">
    <br><h2 class="title">Color</h2> <br><br>
    <div class="main-text">
        <p>
            Each piece originally had a distinct color when it was first forged. Over 
            time, archaeological conditions and chemical reactions transformed these 
            surfaces. <br><br>

            There are 3 phases regarding the color of a bronzeware piece. The evolving 
            colors of ancient Chinese bronzeware are deeply connected to changes in 
            alloy composition, advances in casting techniques, and long-term patination 
            processes. <br><br>

            Start from <a href="/learn/color/casting">Alloy Composition</a> to learn!

        </p>
    </div>

    <div class="container text-center mt-5">
        <a href="/learn/color/casting" class="btn btn-primary mx-5 px-5">Start</a>
        <a href="/learn" class="btn btn-light mx-5">Back to Learn</a>
    </div>      
 </div>



{% endblock %}