{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br><h2>Color</h2> <br><br>

    <div>
        The motifs and styles of ancient Chinese bronzeware reveal a rich visual language shaped by ritual beliefs, regional aesthetics, 
        and evolving craftsmanship.From fierce taotie masks to human shapes, each design carried symbolic meanings and reflected the values of its time. <br><br>

        Throughout Chinese history, bronzeware thrived during 4 major time periods. Choose one time period to start!<br><br>
    </div>

    {% include "timeline.html" %}

    <a href="/learn/motif/1" class="btn btn-primary">Start</a>

    <br><br><br><br><br><br><br><br>

      
 </div>



{% endblock %}