{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br><h2 class="title">Color</h2> <br><br>

    <div class="main-text">
        The evolving colors of ancient Chinese bronzeware are deeply connected to changes in alloy composition, advances in casting techniques, and long-term oxidation processes. <br><br>
        Each piece originally had a distinct color when it was first forged. Over time, archaeological conditions and chemical reactions transformed these surfaces —giving us the patinas we see today. <br><br>
        Click the button to start! <br><br>
    </div>

    <a href="/learn/color/1" class="btn btn-primary">Start!</a>

    <br><br><br><br><br><br><br><br>

      
 </div>



{% endblock %}