{% extends "layout.html" %}

{% block content %}

<div class="row container">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <br><h2 class="title">Phase 1: Casting</h2> <br><br>
        <div class="main-text">
            Bronzeware is an alloy primarily made of copper (which gives it a golden color), 
            tin (which adds a silvery metallic tone). <br><br>
            
            Click to find the correct composition ratio for each dynasty! <br><br>

        </div>
    </div>
    <div class="col-md-6 mt-5">
        {% include "triangle.html" %}
    </div>
    <div class="col-md-1"></div>

 </div>


{% endblock %}