{% extends "layout.html" %}

{% block content %}

<script>
    let encoded_ids = {{encoded_ids}}
</script>

<div class="container">
    <br><h2 class="title">Welcome to quiz!</h2> <br><br>

    <div class="row main-text">
        <div class="col-md-6 text-center">
          <a href="/quiz/prep/1" class="learning-link">
            <div class="learning-card">
              <img src="{{ url_for('static', filename='images/父丁爵_color.jpg') }}" alt="Color learning module" class="card-image" />
            </div>
            <h3 class="card-title">Start by multiple choices</h3>
          </a>
        </div>
      
        <div class="col-md-6 text-center">
          <a href="{{ url_for('quiz_page', page_num=1, ids=encoded_ids) }}" class="learning-link">
            <div class="learning-card">
              <img src="{{ url_for('static', filename='images/司母戊鼎_motif.jpg') }}" alt="Motif learning module" class="card-image" />
            </div>
            <h3 class="card-title">Start the guesses</h3>
          </a>
        </div>
    </div>
      
</div>

{% endblock %}