{% extends "layout.html" %}

{% block content %}
<div class="container" style="max-width: 700px;">
    <br><h2 class="title">It's Quiz Time!</h2> <br><br>

    <p class="main-text mb-3">
        In this section, you will begin by completing the prep quizzes, which consist of multiple-choice questions 
        designed to assess your understanding of the learning material. Once you've finished the prep, you can start 
        making educated guesses about the time periods, based on real exhibits that we have carefully selected for you!
    </p>

    <div class="center-button d-flex justify-content-center">
        <a href="/quiz/prep/1" class="btn btn-primary">Start the prep</a>
        <a href="/learn" class="btn btn-light mx-5">Returen to Learning</a>
    </div>
      
</div>

{% endblock %}