{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/quiz.css')}}">
<script>
    let encodedIds = `{{encoded_ids}}`
</script>

<div class="container" style="max-width: 700px;">
  <br><h2 class="title">It's Quiz Time!</h2> <br><br>

  <p class="main-text">
    Now that you've completed the prep quiz, you can either review the multiple-choice questions again to 
    reinforce your understanding, or dive straight into the main quiz! <br><br>
    In the main quiz, you will make  guesses about the time period and purpose of real exhibits that we 
    have carefully selected for you.
  </p>

  <div class="row main-text mt-5">
      <div class="col-md-6 text-center">
        <a href="/quiz/prep/1" class="quiz-link">
          <div class="quiz-card">
            <img src="{{ url_for('static', filename='images/父丁爵_color.jpg') }}" alt="Color learning module" class="quiz-card-image" />
          </div>
          <h3 class="subtitle quiz-title grey">Review Multiple-Choice Questions</h3>
        </a>
      </div>
    
      <div class="col-md-6 text-center">
        <a href="{{ url_for('quiz_page', page_num=1, ids=encoded_ids) }}" class="quiz-link">
          <div class="quiz-card">
            <img src="{{ url_for('static', filename='images/青铜觶.jpeg') }}" alt="Motif learning module" class="quiz-card-image" />
          </div>
          <h3 class="subtitle quiz-title">Start the Main Quiz <br> Guess the Artifact</h3>
        </a>
      </div>
  </div>
      
</div>

{% endblock %}