{% extends "layout.html" %}

{% block content %}


<script type="text/javascript" src="{{ url_for('static', filename = 'js/quiz.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/quiz.css')}}">
<script>
  let info = {{info|tojson}}
  let currentPage = {{ page_num|int }};
  let encodedIds = `{{ encoded_ids }}`;
  let ids = {{ids|tojson}}
</script>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img id="quiz-image" alt="image here">
    </div>

    <div class="col-md-6 mt-5 main-text">
      <h2 class="title">Which Dynasty?</h2>

      <div class="container subtitle mt-5">
        <strong><span id="name-en">Descriptive English Name</span></strong>
      </div>
      <div class="container subtitle">
        <span id="name-cn" class="bold">中文名</span>
        <span id="name-pinyin">Pin Yin</span>
      </div>

      <div class="container mt-5">
        <span id="findspot">findspot</span> <br>
        <span id="museum">museum</span>
      </div>
    </div>
  </div>
</div>

<div id="timeline-container">
  {% include "timeline.html" %}
</div>


<div class="timeline-slider-wrapper" id="slider">
  <input type="range" class="form-range" id="timelineSlider" min="-1600" max="220" step="1" value="-1600">
  <div class="slider-marker" id="sliderMarker"></div>
</div>

<div id="timeline-slider-hint">
  <img class="click-icon" src="{{ url_for('static', filename = 'assests/icons/click_accent.png') }}" alt="click icon">
  <p class="hint-text">Slide the button to make a guess</p>
</div>

<div class="center-button">
  <button class="btn btn-primary" id="confirmYear">Confirm Year</button>
</div>

<div class="main-feedback-graphic">
  <svg id="answer-box"></svg>
</div>


<div class="container main-feedback main-text" style="display:none;">
  <div class="result-section">
    <h3 class="title">Your Score:<span class="ms-3" id="scoreResult">##</span> </h3>
  </div>

  <div class="row mt-3">
    <div class="col-md-4">
      <h3 class="subtitle bold">Slider Result</h3>
      <span id="sliderResult">####</span>
    </div>

    <div class="col-md-4">
      <h3 class="subtitle bold">Correct Time Period</h3>
      <span id="correctTime">#### - ####</span>
    </div>

    <div class="col-md-4">
      <h3 class="subtitle bold">Details</h3>
      <span id="detailURL"><a href="#">View Details</a></span>
    </div>
  </div>
</div>



<br><br>

<div class="center-button">
  <div id="nextPageButton"></div> 
</div>



{% endblock %}